* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: #ccc;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1rem;
  }
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 1rem;
}
  
.slider.round:before {
    border-radius: 50%;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(111, 172, 201);
    border-radius: 1.5ch;
    width: max-content;
    margin: auto;
    padding: 2ch;
}

.input-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 1ch 0ch;
}

.input-container form div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pages {
    width: 50px;
}

.input-container form div input {
    width: 200px;
}

.input-container button {
    padding: 1ch 4ch;
    width: 150px;
    align-self: center;
}

#two-labels {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: auto;
    gap: 50px;
    justify-content: space-between;
}

.metrics-container {
    width: max-content;
    margin: auto;
}

.metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    /* border: 1px solid black; */
    width: 30ch;
    height: 8ch;
}

.metrics p {
    padding: 0;
    margin: 0.5ch;
}

.card-container {
    margin: 5ch;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2ch;
}

.card {
    /* border: black 1px solid; */
    box-shadow: 0 0 10px 1px #6a6b68;
    border-radius: 5px;
    background-color: #4e91b8;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    border-left: #1e71a8 10px solid;
}

.card :nth-child(1),
.card :nth-child(2),
.card :nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card :nth-child(4),
.card :nth-child(5) {
    position: absolute;
    bottom: 1ch;
    left: 1ch;
}

.card :nth-child(6) {
    position: absolute;
    bottom: 1ch;
    right: 1ch;
}

.card button {
    font-family: inherit;
}